<h1>Register Page</h1>
<form action="/register" method="post">
    <div><input type="text" name="username" placeholder="Username"></div>
    <div><input type="text" name="email" placeholder="Email"></div>
    <div><input type="password" name="password" placeholder="Password"></div>
    <div><input type="password" name="rePass" placeholder="Repass"></div>
    <button>Register</button>
</form>